#header {
    background-color: #d32f2f;   
    min-height: 54px;
}
#subheader {
    background-color: #333;   
    min-height: 25px;
    color: #fff;    
}
#header__logo {
    margin:10px;    
}
.header__info {
    color: #fff;
    text-align: right;
    margin-top:15px;
}
.header__text {
    font-size: 14px;
    margin: 10px;    
}
.header__tel {
    font-size: 18px;
    margin-right: 10px;
}
/*
.header__info--icon {
    
}*/
.subheader__right {
    text-align: right;
}
.subheader__links ul li {
    display: inline-block;
    margin: 10px;    
    font-size: 12px;
    cursor: pointer;
}